
{% block title %}Connexion{% endblock %}

{% block body %}
<main class="md:grid md:grid-cols-1 gap-12 pb-0">
    <section class="flex-col flex justify-between">
        <div>
            <form method="post">
                <div class="mb-6">
                    <label class="block text-gray-500 uppercase tracking-wider text-sm font-bold required" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" autocomplete="email" required autofocus>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-500 uppercase tracking-wider text-sm font-bold required" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" autocomplete="current-password" required>
                </div>
                <button class="button button-filled button-text flex justify-center pt-3 pb-3 w-full mt-2" formnovalidate>
                    Connexion
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
